#wrapper {
    max-width: 480px;
    margin: auto;
}
#description, #search, #todo-list {
    font-size: 1.5em;
}
/* Add a "checked" mark when clicked on */
ul li.checked {
    text-decoration: line-through;

  }
